@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "SF Pro Display-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/634e6b4b723b28ff69092d1b/fonts/fontsfree-net-sfprodisplay-bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62e5bd2f729e81c0f2cb0ddb/fonts/sf-pro-display-regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-Light";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62e443a667033e79db19cecf/fonts/sf-pro-display-light.otf")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display-Ultralight";
  src: url("https://anima-uploads.s3.amazonaws.com/5ae0745955f2da000d6c6921/SF-Pro-Display-Ultralight.otf")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Text-Semibold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6493ccb06d8287a214c6fd2e/fonts/fontsfree-net-sfprotext-semibold.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-RegularItalic";
  src: url("https://anima-uploads.s3.amazonaws.com/5c723ae0c3c026000b1c8721/SF-Pro-Display-RegularItalic.otf")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/64f7ed1586d1fc0125de8d9c/fonts/sf-pro-display-medium.otf")
    format("opentype");
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "SF Pro Display-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/634e6b4b723b28ff69092d1b/fonts/fontsfree-net-sfprodisplay-bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Text-Semibold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6493ccb06d8287a214c6fd2e/fonts/fontsfree-net-sfprotext-semibold.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-Light";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62e443a667033e79db19cecf/fonts/sf-pro-display-light.otf")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display-Ultralight";
  src: url("https://anima-uploads.s3.amazonaws.com/5ae0745955f2da000d6c6921/SF-Pro-Display-Ultralight.otf")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62e5bd2f729e81c0f2cb0ddb/fonts/sf-pro-display-regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-RegularItalic";
  src: url("https://anima-uploads.s3.amazonaws.com/5c723ae0c3c026000b1c8721/SF-Pro-Display-RegularItalic.otf")
    format("opentype");
}

@font-face {
  font-family: "SF Pro Display-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/64f7ed1586d1fc0125de8d9c/fonts/sf-pro-display-medium.otf")
    format("opentype");
}
